<%= image_tag '/images/loginTitle.png', :border => '0', :alt => 'タイトル', :class => 'loginTitle' %>
<p class="catchPhrase">さあ、コマドをはじめよう。</p>
<%= link_to image_tag("/images/facebookBtn.png", {:border => '0', :alt => 'facebookログイン', :width => '165', :height => '31', :class => 'loginBtn'}), user_omniauth_authorize_path(:facebook) %>
