---
http_interactions:
- request:
    method: get
    uri: http://graph.facebook.com/me/friends
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "An active access token must be
        used to query information about the current user."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"An active access token must be used to query information
        about the current user.","type":"OAuthException","code":2500}}'
  recorded_at: Sun, 29 Dec 2013 10:00:20 GMT
- request:
    method: get
    uri: http://graph.facebook.com/me/friends
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "An active access token must be
        used to query information about the current user."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"An active access token must be used to query information
        about the current user.","type":"OAuthException","code":2500}}'
  recorded_at: Sun, 29 Dec 2013 10:00:27 GMT
recorded_with: VCR 2.8.0
