<!DOCTYPE html>
<html>
<head>
  <script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/jCarousel.min.js" type="application/x-javascript" charset="utf-8"></script>
  <!--[if lte IE 8] >
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="style.css" />
  <title>Amad</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
